<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">请登录</h2>
    <label for="inputTenant" class="sr-only">租户名</label>
    <input type="text" id="inputTenant" class="form-control" placeholder="租户名" autofocus="" ng-model="login.tenant">
    <label for="inputUsername" class="sr-only">用户名</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="用户名" required="" autofocus="" ng-model="login.username">
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="" ng-model="login.password">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="login.rememberMe"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" c8y-login
      data-tenant="login.tenant"
      data-user="login.username"
      data-password="login.password"
      data-remember-me="login.rememberMe"
      on-success="login.onSuccess()"
    >登录</button>
  </form>
</div>
