<div ng-controller="lampListsCtrl as lampLists">
    <div id="hide" ng-show="isShow">
        <h1>路灯列表:</h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>路灯名称</th>
                    <th>路灯功率</th>
                    <th>路灯电流</th>
                    <th>路灯电压</th>
                    <th>路灯状态</th>
                    <th>系统ID</th>
                </tr>
                </thead>
                <tr ng-repeat="ls in devices">
                    <!--ng-href="{{'#/lampControls'}}"-->
                    <td><a href="javascript:void(0)" ng-click="getDevicesId(ls.id)" ng-click="toggle()">{{ ls.name
                        }}</a></td>
                    <td>{{ power }}</td>
                    <td>{{ current}}</td>
                    <td>{{ voltage }}</td>
                    <td><a href="javascript:void(0)" ng-click="get()">正常</a></td>
                    <td>{{ ls.id }}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--style="display: none;"-->
    <div id="show" ng-hide="isShow">
        <h3 id="h-stb">STDB:</h3>
        <div class="stb-box">
            <input id="inputcnm" type="number" class="form-control" ng-model="stbd">
            <span class="input-group-addon">秒</span>
        </div>
        <!--<button type="button" class="btn btn-default stb-yes">确定</button>-->
        <br>
        <h3 id="h-table">PWM:</h3>
        <div class="stb-box">
            <input type="number" class="form-control" placeholder="1-99" ng-model="pwm">
        </div>

        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="button" ng-click="setSave()">确定</button>-->
        <!--</span>-->
        <span class="input-group-btn" id="ctrlBtn">
            <button type="button" class="btn btn-success"  ng-click="setSave()">确定修改</button>
        </span>
        <button type="button" class="btn btn-primary btn-lg active ctrlBtn" ng-click="returnLists()">返回设备列表</button>
    </div>


</div>