<div ng-controller="powerCtrl as powerWaste">
    <h3>路灯总数:{{devices.length}}盏</h3>
    <div id="container" style="height: 400px"></div>
    <div id="container2" style="height: 400px"></div>
    <!--<div id="main" style="width: 100%;height:400px;"></div>-->


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>路灯信息</th>
                <th>用户输入</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>STDB</td>
                <td><input type="number" value="300"></td>
            </tr>
            <tr>
                <td>PWM</td>
                <td><input type="number" value="85"></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btnYes">确认修改</button>
</div>